#dashboard {
    display: flex;
    justify-content: space-between;

    height: 100%;
    width: 100%;

    padding: 4rem 6rem;
}

#dashboard #userSetting,
#dashboard #userData {
    /* Border radius for rounded corners */
    border-radius: 10px;
    /* Box shadow with blur effect */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #005DBB;
}

#dashboard #userSetting {
    width: 30%;
    padding: 1rem;
}

#dashboard #userProfile {
    height: 100%;
    background-color: white;
}

/* Username and Image Section */
#dashboard #userProfile {
    border-radius: 1rem;
    text-align: center;
}

#dashboard #userProfile .avatar {
    display: block;

    width: 50%;

    margin: 0 auto;
    padding: 1rem 0;
    border-radius: 50%;
}

#dashboard .logOut {
    margin: 2rem 0;
}

/* User Game and Performance Data */
#dashboard #userData {
    display: flex;
    flex-direction: column;
    width: calc(70% - 2rem);
}

#dashboard .dashItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 2;

    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    background-color: white;
}

#dashboard .userOverview {
    flex: 1;
}

#dashboard .flexEven {
    flex: 1 0 50%;
}