#homePageContent { 
    height: 100%;
    width: 100%;
    margin:0;                   /* no white border around browser window */
    font-family: sans-serif;    /* no tails on the font like Times New Roman */
    background-repeat: no-repeat; /*  prevents background image from repeat */
    font-size: 1rem;
    line-height:1.5rem;
    background-image: url("../pics/stars.png"), linear-gradient(0deg, #084f8e, #083466 80%); /* do not change this */
    overflow: hidden;
}

#moon {
    border-radius: 100%;
    position: absolute;
    top: 30%;
    left: 18%;
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.6);
    width: 20%;
}

#homePageTitle {
    color: white;
    top: 40%;
    right: 25%;
    position: absolute;
    font-size: 50px;
    /* width: 35%; */
}

.cursor {
    display: inline-block;
    width: 2px;
    height: 40px;
    background-color: white;
    animation: blink 1s step-start infinite;
}

/* Define the blinking cursor animation */
@keyframes blink {
    50% {
        opacity: 0;
    }
}

#homePageButton{
    display: flex;
    font-size: 20px;
    border-radius: 5%/20%;     /* little curve around corner */
    padding: 15px 15px;
    width: 160px;
    height: 50px;
    text-align: center;
    background-color: white;
    color: #084F8E;

    justify-content: center;    /* horizontal center */
    align-items: center;        /* vertical center */
    text-decoration: none;

    cursor: pointer;
    transition-duration: 0.25s;
}

#homePageButton:hover{
    color: white;
    background-color: #1876d4;
    box-shadow: 0 0 40px rgba(11, 111, 194, 0.6);
    transition-duration: 0.25s;
}

#homePageButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
#homePageButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.25s;
}

#homePageButton:hover span {
    padding-right: 15px;
}

#homePageButton:hover span:after {
    opacity: 1;
    right: 0;
}

#clouds1 {
    bottom: 20px;
    animation-timing-function: linear;
    background: url(../pics/clouds1.png);
  }
  
#clouds2 {
    bottom:0px;
    background: url(../pics/clouds2.png);
    border-bottom: 10px solid white;
}
  
#clouds3 {
    bottom: 40px;
    background-position-x: -140px;
    background: url(../pics/clouds3.png);
}
  
.clouds {
    bottom:0;
    display:flex;
    position: fixed;
    width: 100%;
    height: 120px;
    left: 0;
}