.grid-container {
    /* margin-top: 50px; */
    display: grid;
    grid-template-columns: 15% 70% 10%;
    grid-template-rows: 50% 50%;
    /* gap: 12px; */

    width: 98%;
    gap: 2%;
    padding: 10px;
}

.grid-item1 {
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: center;
}

.grid-item1 img{
    width: 100%;
}

.grid-item3 img{
    width: 65%;
    margin-top: 30%;
}

.grid-item2{
    align-self: center;
    position: relative; /* Establishes a positioning context for child elements */
    width: 100%;
}

.grid-item3{
    align-self: center;
    justify-self: center;
}

.grid-item4{
    display: flex;
    font-size: 13px;
    align-self: center;
    padding-left: 5px;
}

.progressbar-container{
    background-color: rgb(192, 192, 192); 
    width: 100%; 
    border-radius: 15px; 
    overflow: hidden;
    margin-top: 3%;
}

.progressbar{
    background-color: rgb(116, 194, 92); 
    text-align: right; 
    border-radius: 15px; 
    width: 0%; 
    /* padding: 10px; */
}

.progressbar-text{
    color: white;
    padding-right: 10px;
    font-size: 16px;
}

.wpmProgressDisplay{
    text-align: right;
    margin-left: auto;
}

.userNameDisplay{
    text-align: left;
}