#menu-ctn {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align items to the center of the page */
    align-items: center;
    padding: 4rem 20% 4rem; /* Increase top and bottom padding */
    row-gap: 2rem; /* Increase the gap between rows */
}

#menu-ctn h1 {
    width: calc(100% - 20px);
    text-align: center;
    border-bottom: 1px solid #294E95; /* Change border color and decrease thickness */
    max-width: 900px; /* Increase maximum width */
}

#menu-ctn #menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    row-gap: 2rem; /* Increase the gap between rows */
    column-gap: 4rem; /* Increase the gap between columns */
    justify-content: center; /* Align buttons to the center of the page */
}

.menu-item button img {
    margin-bottom: 20px; /* Increase space between image and text */
}
