body { 
    margin:0;                   /* no white border around browser window */
    font-family: sans-serif;    /* no tails on the font like Times New Roman */

    /* background-color: black; */
    /* background-image:url("../pics/stars.png"); */
    /* background-repeat: no-repeat;   prevents background image from repeat */
    /* background-size: cover;  make the image fill the browser */
    font-size: 1rem;
    line-height:1.5rem;
    background-image: url("../pics/stars.png"), linear-gradient(0deg, #084f8e, #083466 80%);
    /* overflow: hidden; */
}

#navBar {  
    display:flex; 
    flex-direction: row;

    /* fixed to top */
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;

    padding: 1rem;
    background-color: #071017;
    color: white;
    justify-content: space-between;
    background-color: #084F8E;

}

#title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.2rem; /* spaces out letters a bit */
    white-space: nowrap;  /* don't allow the title to wrap */
    font-weight: bold;
    padding: 5px 5px;
}

#navBarRight{
    text-align: right;
    padding-right: 3rem;
    margin-left: auto;
    white-space: nowrap;
    display: flex;
}

#navBarRight a{  /* css shared by both sign up and log in button*/
    font-size: 16px;
    border-radius: 10%/20%;     /* little curve around corner */
    text-decoration: none;
    padding: 5px 5px;
    width: 70px;
    height: 25px;
    vertical-align: center;
    text-align: center;
    font-weight: bold;

    cursor: pointer;
    transition-duration: 0.5; /* add transition effect */
}

#signUpButton{
    background-color: transparent;
    color: white;
    border: 1.5px solid white;
    border-color:white;
    margin-right: 15px;
}

#signUpButton:hover {
    background-color: #09396a;
}

#logInButton{
    background-color: white;
    color: #084F8E;
    border: 2px solid white;
    border-color:white;
}

#logInButton:hover{
    background-color: #9fc6eb;
}

#content {
    padding: 1rem;
    margin-top: 40rem;
    margin-bottom: 2.5rem;
    color: black;
}

#moon {
    border-radius: 100%;
    position: absolute;
    top: 30%;
    left: 12%;
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.6);
    width: 20%;
}