<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- You need these two CDNs to use react, their version numbers must match -->
    <title>Thrill Typer</title>
    <script src='https://unpkg.com/react@18/umd/react.production.min.js'></script>
    <script src='https://unpkg.com/react-dom@18/umd/react-dom.production.min.js'></script>

    <!-- This next CDN lets you use JSX (looks like HTML tags in JS) -->
    <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>

    <!-- This lets you use React Routing -->
    <script src='https://unpkg.com/react-router-dom@5.0.0/umd/react-router-dom.min.js'></script>

    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/menu.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/dashboard.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/typeInterface.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/robotOpponent.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/leaderboard.css') }}">

    <!-- added by Hu -->
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/HomePage.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/StarAnimation.css')}}">
    {% block head %} {% endblock %}
</head>

<body>
    <div id="root">

    </div>
    {% block body %} {% endblock %}

    <!-- Imports of necessary js components -->
    <script type="text/babel" src="{{url_for('static', filename='js/content/Profile.js')}}"></script>
    <!-- No longer use Home.js -->
    <!-- <script type="text/babel" src="{{url_for('static', filename='js/content/Home.js')}}"></script> -->
    <script type="text/babel" src="{{url_for('static', filename='js/content/Menu.js')}}"></script>
    <script type="text/babel" src="{{url_for('static', filename='js/content/Dashboard.js')}}"></script>
    <script type="text/babel" src="{{url_for('static', filename='js/reusable/SinglePlayer.js')}}"></script>
    <script type="text/babel" src="{{url_for('static', filename='js/reusable/RobotOpponent.js')}}"></script>
    <script type="text/babel" src="{{url_for('static', filename='js/reusable/Modal.js')}}"></script>

    <script type="text/babel" src="{{url_for('static', filename='js/content/Leaderboard.js')}}"></script>

    <!-- added by Hu -->
    <script type="text/babel" src="{{url_for('static', filename='js/content/HomePage.js')}}"></script>

    <!-- Pure JS code -->
    <script>
        // Access Jinja context variables directly within the script tag, explicitly convert it to json
        const userSession = JSON.parse('{{ userSession | tojson }}');
    </script>

    <!-- JSX code with REACT -->
    <script type="text/babel">
        // REACT component for Home page, available across all child htmls
        const Link = ReactRouterDOM.Link;
        const Route = ReactRouterDOM.Route;

        const App = () => (
            <ReactRouterDOM.HashRouter>
                <header id="main">
                    <div id="brand">
                        <Link to="/">
                            <img className="brand-logo" src="./static/pics/icon.png" alt="Thrill Typer" />
                        </Link>
                        <Link to="/"><h1 className="brand-title">Thrill Typer</h1></Link>
                    </div>

                    <nav>
                        <Link to="/">Home</Link>
                        <Link to="/menu">Play</Link>
                        <Link to="/leaderboard">Leaderboards</Link>
                        <Link to="/dashboard">Dashboard</Link>
                        <Link to="/">About</Link>
                    </nav>
                    <Profile userSession={userSession} />
                </header>
                <div id="content">
                    <Route path="/" exact component={HomePage} />
                    <Route path="/menu" component={Menu} />
                    <Route path="/singlePlayer" component={ThrillTyperGame} />
                    <Route path="/robotOpponent" component={RobotOpponent} />
                    <Route path="/dashboard"  component={(props) => <Dashboard {...props} userSession={userSession} />} />
                    <Route path="/leaderboard" component={Leaderboard} />
                </div>
            </ReactRouterDOM.HashRouter>
        );
        ReactDOM.render(<App />, document.getElementById("root"));
    </script>
</body>

</html>