<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- You need these two CDNs to use react, their version numbers must match -->
    <script src='https://unpkg.com/react@18/umd/react.production.min.js'></script>
    <script src='https://unpkg.com/react-dom@18/umd/react-dom.production.min.js'></script>

    <!-- This next CDN lets you use JSX (looks like HTML tags in JS) -->
    <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>

    <!-- This lets you use React Routing -->
    <script src='https://unpkg.com/react-router-dom@5.0.0/umd/react-router-dom.min.js'></script>
    {% block head %} {% endblock %}
</head>

<body>
    {% block body %} {% endblock %}
</body>

</html>