<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>


    <link href="../static/css/HomePage.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/StarAnimation.css" rel="stylesheet" type="text/css" />

    <!-- React, Not Used For Now-->
    <!-- <script src='https://unpkg.com/react@18/umd/react.production.min.js'></script>
    <script src='https://unpkg.com/react-dom@18/umd/react-dom.production.min.js'></script> -->
</head>
<body>


    <div id="navBar">
        <div id="title">
            Thrill Typer
        </div>
        <div id="navBarRight">
            <a href ="www.thrill-typer.com/signup" id="signUpButton">Sign Up</a>
            <a href ="#" id="logInButton" >Log In</a>
        </div>
    </div>

    

    <div id="content">
        <h1>Hello, World!</h1>
        <img id="moon" src="../static/pics/moon.png">
        
        <!-- background star animation -->
        <div class="galaxy">
            <div class="stars1"></div>
            <div class="stars2"></div>
            <div class="stars3"></div>
        </div>

        <div id="homePageTitle">
            Hello World ! <span class="cursor"></span>
            <br>
            <br>
            <a href id="homePageButton"><Span>Start Here</Span></a>

            <!-- Cloud at the bottom -->
            <div id="clouds3" class="clouds"></div>
            <div id="clouds1" class="clouds"></div>
            <div id="clouds2" class="clouds"></div>
        </div>
    </div>
</body>
</html>
