<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>

    <!-- React, Not Used For Now-->
    <!-- <script src='https://unpkg.com/react@18/umd/react.production.min.js'></script>
    <script src='https://unpkg.com/react-dom@18/umd/react-dom.production.min.js'></script> -->

    <!-- <link href="../static/css/ModeSelectpage.css" rel="stylesheet" type="text/css"> -->
    <link href="../static/css/ModeSelectpage.css" rel="stylesheet" type="text/css">
</head>
<body>


    <div id="navBar">
        <div id="title">
            Thrill Typer
        </div>
        <div id="navBarRight">
            <a href ="www.thrill-typer.com/signup" id="signUpButton">Sign Up</a>
            <a href ="#" id="logInButton" >Log In</a>
        </div>
    </div>

    

    <div id="content">
        <h1 id="modeSelectPageTitle">
            Choose Your Game Mode
            <hr class="divider">
        </h1>
        <div class="modeBox">
            <img src="../static/pics/SinglePlayerMode.png">
            <h4>Single Player </h4>
        </div>
        <div class="modeBox">
            <img src="../static/pics/SinglePlayerMode.png">
            <h4>Single Player </h4>
        </div>

    </div>
</body>
</html>
